body {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}

#landing-page {
  background-color: rgb(18,18,18);
}

.container-fluid {
  padding: 1rem 6rem;
  height: 100vh;
}

h1 {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
}

.h1-1 {
  color: rgb(228, 228, 228);
  text-align: center;
  margin-top: 10%;
  max-width: 1500px;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.h2-1 {
  color: rgba(255, 255, 255, 0.50);
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.h1-col-padding {
  padding: 5rem 0;
}

h3 {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

h4 {
  color: #fff;
  font-weight: 400;
}

p {
  color: #535353;
}

/* Navigation Bar */
.navbar {
  padding: 0 3rem;
  background-color: transparent;
}

.navbar-brand {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(133, 133, 133) !important;
}

.navbar-brand:hover {
  color: rgb(239, 239, 239) !important;
  text-decoration: none;
}

.navbar-about {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(133, 133, 133) !important;
}

.navbar-about:hover {
  color: rgb(239, 239, 239) !important;
  text-decoration: none;
}

.contact-me {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 3rem;
  font-weight: 400;
  color: rgb(133, 133, 133) !important; 
  text-align: right !important;
}

.contact-me:hover {
  color: #fff !important;
  text-decoration: none;
}

/* Contact Page */
form { 
  max-width: 550px;
  margin:0 auto 8rem; 

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.feedback-input {
  color: #fff;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #535353;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 1px solid #fff !important;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #00ECFA;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #000;
  font-size: 1.5rem;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
  background: #535353;
}

#contact-page {
  /* background-color: #000; */
  background-color: rgb(18,18,18);
  height: 100vh;
  overflow: hidden;
}

.footer-brand {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.footer-brand:hover {
  text-decoration: none;
  color: #535353;
}

.footer-phrase {
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

.contact-form-right {
  margin-top: 5rem;
}

.feedback-input:focus { 
  border:1px solid #535353; 
}

.social-icons {
  text-align: center;
  margin-top: 3.5rem;
}

.social-icon-footer {
  color: #535353;
  font-size: 1.35rem;
  margin: 0 2.5rem;
}

.social-icon-footer:hover {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  text-align: center;
  color: #535353;
  font-size: 1rem;
  margin: 1rem 0 0;
}

/* About Page */
.about-description {
  color: rgb(228, 228, 228);
  font-size: 1.5rem;
  margin: 10% 3rem 0;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
       animation: fadein 3s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


.highlight {
  color: #00ECFA;
}

/* About Page: Experience Section */
#experience-1, #experience-2 {
  background-color: rgb(18,18,18);
  height: 100vh;
  text-align: center;
}

#experience-1 h2, #experience-2 h2, small {
  color: rgb(228, 228, 228);
}

#experience-1 a, #experience-2 a:hover {
  text-decoration-color: #00ECFA;
}

#experience-1 p {
  color: rgba(255, 255, 255, 0.50);
  margin: 0 auto;
  padding-top: 1rem;
  width: 75%;
}

#experience-2 ul {
  color: rgba(255, 255, 255, 0.50);
  margin: 0 auto;
  padding-top: 1rem;
  width: 65%;
}

.workplaces {
  padding: 10% 3rem;
}

.shopify_color, .oal_color {
  color: #00ECFA;
}

.hidden {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .container-fluid {
    padding: 1rem 2rem;
  }

  .navbar {
    padding: 1rem;
  }

  .navbar-brand, .navbar-about, .h1-1, .h2-1, .contact-me {
    font-size: 1rem;
  }

  .contact-me {
    margin-left: 2rem;
  }

  .form {
    max-width: 700px;
  }

  .feedback-input {
    font-size: .75rem;
  }

  [type="submit"] {
    font-size: .75rem;
  }

  .contact-form-right {
    margin-top: 0;
  }

  .footer-phrase {
    font-size: .75rem;
    margin: 2.5rem auto;
  }

  .footer-copyright {
    font-size: .75rem;
  }

  .social-icon-footer {
    font-size: .75rem;
    margin: 0 1rem;
  }

  .about-description {
    font-size: .75rem;
    margin: 5% 1rem 0;
    text-align: left;
  }

  .workplaces {
    padding: 5% 1rem;
  }

  .experience-1 p {
    font-size: .75rem;
    text-align: left !important;
    width: 90%;
  }

  .experience-2 ul {
    text-align: left !important;
    width: 100%;
  }

  #experience-1 h2, #experience-2 h2 {
    font-size: 1.25rem;
  }
}
